
<nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  Home
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#pricing">
                  Pricing
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  Contact
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                  Login
                </a>
              </li>
            </ul>
        </div>
    </div>
</nav>