{% extends 'base.html' %}
{% block content %}
<header id="header-wrap">
{% include 'header.html' %}
</header>

    <div class="container" style="padding-top: 70px;">
        <h1>Teste</h1>
        {% if user.is_anonymous %}
            <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
        {% else %}
            <div class="alert alert-primary" role="alert">
                Welcome! {{ user.get_full_name }}!
            </div>
            <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </div>

{% endblock %}